
Huub/A3/Class Notes/A3 - Huub/AK/Assignment 3 Report.pdf
Huub/A3/Class Notes/A3 - Huub/AK/Energy_Calculation_Function.m
Huub/A3/Class Notes/A3 - Huub/AK/orbitalTower.m
Huub/A3/Class Notes/A3 - Huub/AK/Notes.txt
Huub/A3/Class Notes/A3 - Huub/AK/Tension_Function.m
Huub/A3/Class Notes/A3 - Huub/AK/Wave_Transformation_Function.m
Huub/A3/Class Notes/A3 - Huub/AK2/Akshay_Kumar_Orbital_Tower.m
Huub/A3/Class Notes/Backup/OT2.m
